@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* resetting the styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
}

/*setting colors*/
:root {
  --text-color: #1a1a1a;
  --accent-color: #6b7c5e;
  --background-color: #f8f6f3;
  --thin-line: #ebe6e6;
}

body {
  padding-top: 84px; /* adding space between the navbar and the content */
  overflow-x: hidden; /* prevent horizontal scroll bar */
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/*styles for the header of each section*/
.section-subheader {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 32px; /* adding space below this tag and the below one*/
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: var(--accent-color);
}

/*styles for the subheaders of each sections*/
.section-main-header {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 48px;
  color: var(--text-color);
}

/*container for the explore more line*/
.clickable-message {
  gap: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--accent-color);
}
.clickable-message a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.global-container {
  width: 86%; /* setting the width of the browser to be my container*/
  margin: auto; /* centering the container*/
}

/*media query*/
@media (min-width: 768px) {
  .global-container {
    width: 90%; /* setting the width of the browser to be my container*/
  }
}
@media (min-width: 1024px) {
  .global-container {
    width: 93%; /* setting the width of the browser to be my container*/
  }
}
