@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* resetting the styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
}

/*setting colors*/
:root {
  --text-color: #1a1a1a;
  --accent-color: #6b7c5e;
  --background-color: #f8f6f3;
}

body {
  padding-top: 84px; /* adding space between the navbar and the content */
}

a {
  text-decoration: none;
}

.global-container {
  width: 86%; /* setting the width of the browser to be my container*/
  margin: auto; /* centering the container*/
}

/*media query*/
@media (min-width: 768px) {
  .global-container {
    width: 90%; /* setting the width of the browser to be my container*/
  }
}
@media (min-width: 1024px) {
  .global-container {
    width: 93%; /* setting the width of the browser to be my container*/
  }
}
