#contact {
  text-align: center;
  background-color: #12291d;
  scroll-margin-top: 5rem;
  padding: 11.25rem 0rem;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  color: var(--thin-line);
}

.facebook {
  color: #fff;
}

.contact-logo {
  font-size: 4.125rem;
  line-height: 3.375rem;
  margin-bottom: 1.25rem;
}

.contact-details {
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.detail {
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
}

.dot {
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 1.25rem;
  background-color: #fff;
  text-align: center;
}

.contact-header {
  margin-top: 3.125rem;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: italic;
}

@media (min-width: 768px) {
  .contact-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5625rem;
  }

  .contact-logo {
    font-size: 5rem;
  }

  .contact-header {
    font-size: 1.5625rem;
  }

  .detail {
    font-weight: 300;
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .contact-logo {
    font-size: 6.25rem;
  }

  .contact-header {
    margin-top: 4.375rem;
    font-size: 1.875rem;
  }

  .detail {
    font-weight: 300;
    font-size: 1.0625rem;
  }
}
