#visit {
  /* adding space between the hero section and the visit section */
  left: 50%;
  width: 100vw; /*making the background to fill the full viewport*/
  color: #fff;
  margin-left: -50vw; /*placing the content to the right*/
  text-align: center;
  position: relative;
  padding: 10rem 0rem; /* adding space above and below the visit section */
  scroll-margin-top: 3.125rem; /* adding space between the navbar and the visit section when the user clicks on the visit link in the navbar */
  background-color: #1a3c2a;
}

.section-main-header {
  margin-bottom: 3.75rem;
}

.main-header {
  color: #fff;
}

/*visit items container*/
.visit-items {
  display: flex; /* changing the directions of the contect*/
  gap: 0rem;
  margin-bottom: 4.6875rem;
  align-items: center;
  flex-direction: column;
}

/*subheader styles*/
.description-wrapper h2 {
  margin-top: 0.0625rem;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.6;
}

/*paragraph style*/
.description-wrapper p {
  font-size: 1.5625rem;
  font-weight: 400;
  margin-top: 1.5625rem;
  line-height: 1.25rem;
  margin-bottom: 0.625rem;
  letter-spacing: 1.4px;
}

/*icons for the visit items*/
.visit-items img {
  width: 2rem;
  height: 2rem;
}

/*arrow icon */
.arrow-icon {
  width: 0.9375rem; /*reducing it's width*/
}

@media (min-width: 768px) {
  .section-main-header {
    margin-bottom: 5rem; /*giving the contact space from the bottom up*/
  }

  /* *visit items container*/
  .visit-wrapper {
    display: flex;
    gap: 1.25rem;
    margin-top: 8.125rem; /*adding space up on the contact*/
    flex-direction: row;
    justify-content: center;
  }

  /*selecting the section item to add lines on */
  .visit-items:nth-child(2) {
    border-right: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    padding: 0rem 1.25rem;
  }
}

@media (min-width: 1024px) {
  /*visit items wrapper*/
  .visit-wrapper {
    gap: 9.375rem;
    margin-top: 8.125rem;
    margin-bottom: 3.125rem;
  }

  /*selecting the section item to add lines on */
  .visit-items:nth-child(2) {
    border-right: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    padding: 0rem 3.75rem;
  }

  /*subheader styles*/
  .description-wrapper h2 {
    font-size: 1.25rem;
  }

  /*paragraph style*/
  .description-wrapper p {
    font-size: 2.1875rem;
    margin-bottom: 0.9375rem;
  }

  .clickable-message {
    margin-left: 1.8125rem;
  }

  .subheader {
    margin-left: 0.4375rem;
  }
}
